<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- SETTINGS -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <title>Vinux login</title>
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <meta name="description" LANG="en" content="Enfin une cave en ligne digne de ce nom!">
    <meta name="robots" content="index, follow">
    <meta name="Revisit-after" content="10 days">
    <meta name="Date-Creation-yyyymmdd" content="20071216">
    <meta name="Date-Revision-yyyymmdd" content="20110104">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="expires" content="never">
    <meta name="viewport" content="initial-scale=0.8">
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- LIB INCLUDES -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static "CoreJs/extendAjaxForCSRF.js" %}"></script>
    <!-- the following include allow internet explorer to keep the same display than the other browser -->
    <!--[if lt IE 10]>
	    <script type="text/javascript" src="{% static "CoreJs/CSS3PIE.js" %}"></script>
    <![endif]-->
    
</head>
<body>


<body>
    {% block content %}
    
		
			<div class="myLeft" id="id_login">
	        
				<div class="section">      
	            <h2>Log in</h2>
	
	            {% if form.errors %}
	            <p>Attention, l'abus d'alcool peut faire oublier les mots de passe. Entrez votre mot de passe à nouveau.</p>
	            {% endif %}
	
	            <div>
	                <form method="post" autocomplete="off" action="/accounts/login/" >
	                    {% csrf_token %}
	                    <table style="width:100%;">
	                    <tr>
	                        <td autocomplete="off" style="width:40%;" >{{ form.username.label_tag }}</td>
	                        <td autocomplete="off" style="width:59%;">{{ form.username }}</td>
	                    </tr>
	                    <tr>
	                        <td autocomplete="off" style="width:40%;" >{{ form.password.label_tag }}</td>
	                        <td autocomplete="off" style="width:59%;">{{ form.password }}</td>
	                    </tr>
	                    </table>
	
	                    <input class="myRoundCorners myRight" type="submit" value="Log in" />
	                    <input type="hidden" name="next" value="{{ next }}" />
	                </form>
	            </div>
	        </div>

	        <div class="section">      
	            <h2>Mot de passe oublié?</h2>
	            <div class="oneLine">Réinitialiser votre mot de passe <a href="/accounts/password/reset/">ici</a>.</div>
	        </div>
	        
	        <div class="section">      
	            <h2>Créer un compte</h2>
	            <div class="oneLine">Vinux est une application de cave virtuelle.
	            <div class="oneLine"><a href="/accounts/register/">Je descends à la cave!</a></div>
	        </div>
	
	   	</div>
	     
			<div id="id_image">
	     		<img src="{% static "VinuxImg/registrationVinux.jpg" %}">
			</div>
    		

   </div>

    {% endblock %}

</body>
