<!DOCTYPE HTML>
<html>
<head>
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- SETTINGS -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <title>Reset password</title>
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <meta name="description" LANG="en" content="Celibax is an online betting system. It will be possible to bet on anything with your friends.
            It was initially designed to bet on which of your friends would be the first to get laid, but you can also use it for sporting events, life events or whatever you can think of!
            You cannot play real money here, the Celibax money is the Chochoro and the shame of losing!">
    <meta name="robots" content="index, follow">
    <meta name="Revisit-after" content="10 days">
    <meta name="Date-Creation-yyyymmdd" content="20071216">
    <meta name="Date-Revision-yyyymmdd" content="20110104">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="expires" content="never">
    <meta name="viewport" content="initial-scale=0.8">
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- LIB INCLUDES -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}javascript/jquery.min1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}javascript/extendAjaxForCSRF.js"></script>
    <!-- the following include allow internet explorer to keep the same display than the other browser -->
    <!--[if lt IE 10]>
        <script type="text/javascript" src="{{ STATIC_URL}}javascript/CSS3PIE.js"></script>
    <![endif]-->
    
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- STYLE AND PAGE STRUCTURE INCLUDES -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/structure.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/register.css">
    <script type="text/javascript" src="{{ STATIC_URL}}javascript/styleAndDiv.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}javascript/headerStructure.js"></script>

    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- INITIALISATION OF THE PAGE -->
    <!-- -------------------------------------------------------------------------------------------- -->
    <script type="text/javascript" src="{{ STATIC_URL}}javascript/coreOnLoad.js"></script>
</head>
<body>

{% load i18n static %}
{% block content %}

<p>Un courriel vous sera envoyé a l'adresse renseignée avec les instructions pour reinitialiser votre mot de passe.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Réinitialiser' %}" />
</fieldset>
</form>

{% endblock %}
   
</body>
</html>


